@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;600&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#__nuxt {
  height: 100%;
  width: 100%;
  // overflow: hidden;
}

html {
  font-size: typography.$remInPx; // set rem
}

body {
  background-color: color.palette("concrete");
  margin: 0;
}

h1 {
  font-family: typography.fontFamily("sansSerif");
  font-size: typography.typescale("h1");
  line-height: ratio.justInterval(6);
}
