html {
  font-size: typography.$remInPx; // set rem
}

body {
  background-color: color.palette("concrete");
  margin: 0;
}

h1 {
  font-family: typography.fontFamily("sansSerif");
  font-size: typography.typescale("h1");
  font-weight: typography.fontWeight("semibold");
  line-height: ratio.justInterval(4);
  margin: 0 0 0.5em;
  text-transform: capitalize;
}

h2 {
  font-family: typography.fontFamily("sansSerif");
  font-size: typography.typescale("h2");
  font-weight: typography.fontWeight("semibold");
  line-height: ratio.justInterval(5);
  margin: 0 0 1em;
  text-transform: capitalize;
}

h3 {
  font-family: typography.fontFamily("sansSerif");
  font-size: typography.typescale("h3");
  font-weight: typography.fontWeight("extrabold");
  line-height: ratio.justInterval(5);
  margin: 0 0 1em;
}

p,
li {
  font-family: typography.fontFamily("sansSerif");
  font-size: typography.typescale("p");
  font-weight: typography.fontWeight("medium");
  letter-spacing: 0.03em;
  line-height: ratio.justInterval(7);
  margin: 0 0 2em;

  a {
    background: linear-gradient(
      to top,
      color.palette("black") 0.1em,
      color.palette("hilite") 0.1em,
      color.palette("hilite") 0.25em,
      transparent 0.35em
    );
    color: color.palette("black");
    font-weight: typography.fontWeight("bold");
    text-decoration: none;

    &::after {
      content: "↗";
      font-size: typography.typescale("small");
    }
  }

  small {
    font-size: typography.typescale("small");
  }

  strong {
    font-weight: typography.fontWeight("bold");
  }
}

ul {
  @include unstyle.list;

  display: flex;
  flex-flow: column;
  margin: 0 0 u(3);
}
