@use "sass:map";

@use "collection";
@use "u" as *;

// $layout-panel-padding: u(0.5);

// $layout-panel-padding-x: u(0.5);
// $layout-panel-padding-y: u(2);
// $layout-panel-padding-mobile: u(0.5);

$layout-panel-padding-mobile-x: u(0.75);
$layout-panel-padding-mobile-y: 25vh;
$layout-panel-padding-mobile: $layout-panel-padding-mobile-y
  $layout-panel-padding-mobile-x;

$layout-panel-padding-desktop-x: u(1);
$layout-panel-padding-desktop-y: 25vh;
$layout-panel-padding-desktop: $layout-panel-padding-desktop-y
  $layout-panel-padding-desktop-x;

$layout-panel-intro-height: 85vh;
$layout-viz-height-mobile: 100vh - $layout-panel-intro-height;

@function _getBreakpoint($size) {
  $breakpoints: (
    "small": 640px,
    "medium": 768px,
    "large": 1024px,
  );

  @return collection.get($breakpoints, #{$size});
}

@mixin breakpoint($breakpoints) {
  $start: map.get($breakpoints, "start");
  $end: map.get($breakpoints, "end");

  @if ($start) {
    @if ($end) {
      @media (min-width: _getBreakpoint($start)) and (max-width: _getBreakpoint($end) - 1) {
        @content;
      }
    } @else {
      @media (min-width: _getBreakpoint($start)) {
        @content;
      }
    }
  } @else if ($end) {
    @media (max-width: _getBreakpoint($end) - 1) {
      @content;
    }
  }
}
