@use "sass:map";

@use "collection";
@use "color";
@use "u" as *;

$layout-panel-padding-phone: u(1);
$layout-panel-padding-tablet: u(1);
$layout-panel-padding-desktop: u(1.25);

@function getBreakpoint($size) {
  $breakpoints: (
    "min": 0px,
    "phone": 320px,
    "tablet": 425px,
    "laptop": 720px,
    "desktop": 1024px,
    "max": 1080px,
  );

@return collection.get($breakpoints, #{$size});
}

@mixin breakpoint($breakpoints) {
  $start: map.get($breakpoints, "start");
  $end: map.get($breakpoints, "end");

  @if ($start) {
    @if ($end) {
      @media (min-width: getBreakpoint($start)) and (max-width: getBreakpoint($end) - 1) {
        @content;
      }
    }

    @else {
      @media (min-width: getBreakpoint($start)) {
        @content;
      }
    }
  }

  @else if ($end) {
    @media (max-width: getBreakpoint($end) - 1) {
      @content;
    }
  }
}

@mixin borderTop {
  border-top: 1px solid color.palette("ink");
}